{% extends 'base.html' %}
{% load static %}
{% block body %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Portfolio</h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="portfolio-categ filter">
                    <li class="all active"><a href="#" data-filter="*">All</a></li>
                    {% for category in categories %}
                        <li class="{{ category.name }}"><a href="#" data-filter=".{{ category.name }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
                <div class="clearfix"></div>
                <div class="row">
                    <section id="projects">
                        <ul id="thumbs" class="portfolio">
                            {% for item in items %}
                                <li class="item-thumbs col-lg-3 {{ item.category.name }}" data-id="id-{{ forloop.counter }}" data-type="{{ item.category.name }}">
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ item.title }}" href="{{ item.image.url }}">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb"><i class="icon-info-blocks fa fa-code"></i></span>
                                    </a>
                                    <img src="{{ item.image.url }}" alt="{{ item.title }}">
                                </li>
                            {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
