{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id="wrapper">

    <!-- start header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">About Us</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">

            {% for section in about_sections %}
            <div class="about">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-logo">
                            <h3>{{ section.title }}</h3>
                            <p>{{ section.description }}</p>
                        </div>
                        <a href="#" class="btn btn-color">Read more</a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ section.image.url }}" alt="">
                        <div class="space"></div>
                    </div>
                </div>
                <br/>
                <hr>
                <br>
            </div>
            {% endfor %}

            <!-- Our Team starts -->
            <div class="block-heading-six">
                <h3 class="bg-color">Our Team</h3>
            </div>
            <br>
            <div class="team-six">
                <div class="row">
                    {% for member in team_members %}
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="{{ member.photo.url }}" alt="">
                            <!-- Name -->
                            <h4>{{ member.name }}</h4>
                            <span class="deg">{{ member.position }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Our team ends -->

        </div>
    </section>
{% endblock %}
